
body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
    background-color: #e7e8ec;
    width: 100%;


}

.main {
    top: 0%;    
    position: sticky;



}

header {
    background-color: #e7e8ec;

}

.header-wrap {

    /* display: flex;
    align-items: center; */
    display: flex;
  justify-content: center;
  justify-items: center;
  box-sizing: border-box;
flex-wrap: wrap;

    /* justify-content:right; */

    /* flex-wrap: wrap;
    flex-flow: hidden; */


}
a {
    color: #212121;
    text-decoration: none;
    display: flex;


}

select {
    text-decoration: none;
    border: none;
    background-color: #e7e8ec;
    cursor: pointer;


}

.header-content{
    width: 100%;
    display: flex;
    flex-wrap: wrap;

}
.logo-img{
   
    width: 135px;
    height: 41px;
 
}
.logo-img-wrap{
   
    width: 188px;
    height: 45px;
    display: block;

}
.ist {
    color: #f57224;


}




header ul {
    display: flex;
    flex-wrap: wrap;

    flex-flow: hidden;
}

header ul li {
    list-style: none;
    flex-flow: hidden;
    display: inline;
    padding-left: 30px;

    font-size: 12px;


}

header ul li :hover {
    color: #f57224;
    text-decoration: underline;
}

.header-content {
    background-color: white;
    display: flex;
    padding-top: 20px;
    justify-content: space-around;

}


.search input {
    padding: 13px 19px;
    margin-top: 5px;
    margin-bottom: 10px;
    
    
    background-color: #e7e8ec;
    border: none;
    font-size: medium;

}
.search button {
    background-color: #f57224;
    padding: 15px 19px;
  

    border: none;

}

.search button i {
    color: #e7e8ec;

}




.main-sidebar {
    display: flex;
    display: flex;
   width: 100%;
    

    /* background: -webkit-linear-gradient(top,#664039 0,rgba(0,0,0,.5) 100%); */
    /* background: linear-gradient(to bottom,#333 0,rgba(0,0,0,.5) 100%); */
}


.sider {
    flex: 0 0 15vw;
     
max-height: 500px;
margin-left: 20px;
    padding-left: 15px;
    background-color: white;
    

}

.sider ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
   
    /* background: linear-gradient(to bottom,rgba(255, 255, 255, 0.315) ,rgba(0, 0, 0, 0.151) ); */
    font-size: 15px;
}

.sider ul li {


    display: flex;
    padding: 5px;





}
.sider ul :hover{
   
    cursor: pointer;
}
.sider ul ul  {
    display: none;
   
   position: absolute;
   margin-left: 150px;
   
   
   
  
   
    
}


.sider ul  :hover ul {
    display: block;
    background-color: white;
}
.container-wrap {
    height: 200px;
    width: 100%;
    margin-top: 20px;
    justify-content: center;

}

.container-wrap img {
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;

}



.fashion-wrap {

    display: flex;
    justify-content: space-around;
    margin-left: 20px;


}

.fashion-wrap button {
    border: 1px solid white;
    display: flex;
    padding: 5px;
    border-radius: 20px;
    background-color: white;
}
.sale-cont{
    display: flex;
    justify-content: center;
    text-align: center;
}
.fashion-wrap :hover {
    color: chartreuse;
    cursor: pointer;

}

.fashion-wrap span {
    font-size: large;
    padding-top: 4px;
    padding-left: 10px;
}


.sale-wrap {
    margin-top: 10px;
   





}

h1 {
    color: gray;
    margin-left: 100px;
    font-size: large;

}
h2{
    margin-left: 100px;
    font-size: 20px;
    color: #202020;
    margin-top: 30px;
}
.sale-child-wrap {
    background-color: white;
    
    display: flex; 
    width: 85%;
    margin: auto;
    justify-content: space-between;
    justify-items: center;
    
    /* display: flex;
    margin-top: 2px;
    width: 85%;
    margin: auto;
    border: 1px solid;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; */




}

.sale-child-wrap p {
    padding-left: 10px;
    color: red;
    align-items: center;
    padding-bottom: 5px;
    padding-top: 5px;

}

.sale-cont span {
    justify-content: center;
    text-align: center;
    color: #202020;
 

    margin-top: 13px;
}

.sale-child-wrap span button {
    background-color: #ff6801;
    border: none;
    margin-left: 20px;
    padding: 12px;
    color: #f5f5f5;
    font-size: 12px;
}


.shop-wrap {

    border: 1px solid red;
margin: 5px;
    padding: 12px;
    color: red;
 
    font-size: 12px;
    background-color: white;
    
    
}

.fashion-wrap button:hover {
    box-shadow: 0 0 20px gray;
}


.container-card {
    /* display: flex;
   
    width: 85%;
    background-color: white;
    background-color: transparent;

    margin-left: 100px; */
    background-color: white;
    display: flex;
    margin-top: 2px;
    width: 85%;
    margin: auto;
    margin-top: 2px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.card {

    background-color: white;
    cursor: pointer;
   min-height: 30vh;
    margin: 5px;
    width: 180px    ;
   
    cursor: pointer;
    
   

}


.card:hover {
    box-shadow: 0 0 30px gray;
    cursor: pointer;
}




.container-card1 {
    display: flex;
    margin-top: 2px;
    width: 85%;
    margin: auto;
    background-color: white;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* margin-left: 100px; */



}

.card1 {

    background-color: white;
    cursor: pointer;
min-height: 30vh;
    margin: 5px;
    width: 215px;
    
    /* background: linear-gradient(to bottom,rgba(255, 255, 255, 0.315) ,rgba(0, 0, 0, 0.151) );  */

}
.img_cart{
    width: 100%;
    height: 70%;
}

.card1:hover {
    box-shadow: 0 0 20px gray;
    cursor: pointer;
}

.img-card {
    width: 50px;
    padding-left: 75px;
   

}

.categeries-wrap{
    /* display: flex;
    margin-top: 2px;
   
    background-color: white;
    background-color: transparent;

    margin-left: 100px;
    border: 1px solid; */
    display: flex;
    margin-top: 2px;
    width: 85%;
    margin: auto;
   
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}
.categeries-cont{
    padding: 10px;
    background-color: white ;
    margin: 1px;
 
}

.categeries-cont:hover {
    box-shadow: 0 0 20px gray;
    cursor: pointer;
}





.container-card-just {
    /* display: flex;
   
    width: 85%;
    background-color: white;
    background-color: transparent;

    margin-left: 100px; */
    background-color: white;
    display: flex;
    margin-top: 2px;
    width: 85%;
    margin: auto;
    margin-top: 10px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}
.load-wrap{
   
    display: flex;
    margin-top: 2px;
   width: 85%;
    margin: auto;
    margin-top: 10px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}

.load-wrap button{
  
    color: #ff6801;
    border:1px solid #ff6801;
   margin: auto;
     font-size: large;
  
    background-color: #e7e8ec;
}
footer{
    background-color: #2e2e54;
    width: 100%;
    display: flex;
    margin-top: 10px;
 
    
    

}
.footer-wrap{
    display: flex;
    margin-top: 2px;
    width: 85%;
    margin: auto;
    color: white;
    flex-wrap: wrap;
   justify-content: space-between;
   
}
.footer-wrap ul li {
    list-style: none;
    
}
.footer-wrap ul li a{
    color: white;
}
.cata {
    display: none;
    background-color: white;

  }
  .cata ul  {
    display: flex;
   flex-direction: column;
    position:absolute;
    background-color: white;
    display: none;
   
  
    
  }
  
 
  .cata h4 :hover >ul {
    
    display: block;
    cursor: pointer;

}

  .active{
    display:block;
  }


@media screen and (max-width:600px) {
    header{
        flex-direction: column;
        position: static;
       }
    .header-wrap{
     display: none;
    }
    .slider{
        width: 100%;
    }
    .container-wrap{
        display: none;
    }
    .logo-img{
     display: none; 
    }
    .logo-img-wrap{
        display: none;
       
    }
    
    
    
    .h1{
       
        text-align: center;
        
    }
    .img-card {
        justify-content: center;
        padding-left: 150px;
    }


b{
    margin-left: 90px;
}
.logo-img-cont{
    display: none;
}
.sider{
    display: none;
}
.categeries-wrap{
   width: 100%;
}

   
 .container-card ,.container-card-just {
     flex-direction: column;
     align-items: center;
     width: 100%;
     background-color: #e7e8ec;

 }
 .card {
    width: 92%;
    height: 400px;
    flex-direction: column;
    align-items: center;
    
 }

  
 .container-card1 {
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #e7e8ec;

}
.card1 {
   width: 92%;
   height: 400px;
   flex-direction: column;
   align-items: center;
   
}
 .flash_sale{
    display: none;

 }
 
 .card span{
    justify-content: center;
    text-align: center;
    padding: 10px;
 }
 .card p{
    color: #ff6801;
    padding-left: 20px;
    

 }
 
 

.sale-child-wrap{
    width: 92%;
}
 .sale-cont span{
    display: none;
 }

 
.fashion-wrap{
   display: none;
} 
  


  }
  @media screen and (max-width:870px ){
    .header-wrap ul li a {
    font-size: 8px;
    }

    
.sider  ul li a{
    
     
   font-size: 10px;

 
   
    

}
}
    @media screen and (max-width:920px ){
        .header-wrap ul li a {
        font-size: 6px;
        }

        .sider  ul li a{
    
     
            font-size: 10px;
         
          
            
             
         
         }
        
  }
  @media screen and (max-width:800px){
    .header-wrap ul li a {
        font-size: 6px; 
        
     }
     .sider  ul li a{
    
     
        font-size: 7px;
     
      
        
         
     
     }

  }
  @media screen and (max-width:900px){

     .sider  ul li a{
    
     
        font-size: 8px;
     
      
        
         
     
     }
    

  }
  @media screen and (max-width:700px){
    .header-wrap ul li a {
        font-size: 5px; 
        
     }
     .sider  ul li a{
    
     
        font-size: 6px;
     
      
        
         
     
     }
    

  }



 